[Unit]
Description=Flask UI Service
After=network.target

[Service]
ExecStart=/home/ubuntu/OllamaStylist/venv/bin/python3 /home/ubuntu/OllamaStylist/app.py
WorkingDirectory=/home/ubuntu/OllamaStylist
User=ubuntu
Group=ubuntu
Restart=always
RestartSec=3
Environment=PATH=/home/ubuntu/venv/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target